
:root{
  --box-shadow:  0px 2px 15px rgba(0, 0, 0, 0.3);
  --text-color: #515050;
  --card-border-radius:  15px 15px 0px 0px;
  --app-bg-color: rgb(232, 232, 232);
  --menu-icon-height: 80px;
  --menu-icon-width: 80px;
  --nav-itm-border-col:rgb(73, 73, 73);
  --scroll-top-bg-col: rgb(87, 87, 87); 
  --scroll-top-icon-col: white;
  --scroll-top-hover-col:rgb(53, 53, 53);
  --main-nav-menu-sha-col: rgba(92, 92, 92, 0.5);
}


.app-div{
    background-color: var(--app-bg-color); 
  }
  




